html {
  scroll-behavior: smooth;
  padding-bottom:60px;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

ul {
    list-style-type: none;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding: 0;
    margin-bottom: 25px;
}

li {
  margin-bottom: 2px;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.footer {
  position: relative;
  border: 2px solid black;
  bottom: 0;
}

.Footer-Items {
  display: inline-block;
}

.homepage {
  background-color: purple;
}

.contact {
  background-color: red;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.faq-question-link {
  transition: all 1s ease;
  text-decoration: none;
}

.fade-appear,
.fade-enter {
  opacity: 0;
}

.fade-appear-active,
.fade-enter-active {
  transition: .5s ease;
  opacity: 1;
}

.fade-exit {
  transition: .5s ease;
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
}

.nav {
  border: 2px solid black;
  text-align: center;
}

a.active {
  color: #3f51b5;
}

.page-main {
  position: relative;
  max-width: 600px;
  margin: 0px auto;
}

.page-main-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 80px 20px 20px 20px;
}